<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jface.viewers.tests.performance.category"
            class="org.eclipse.jface.viewers.tests.performance.views.LazyTestView"
            id="org.eclipse.jface.viewers.tests.lazyView"
            name="Lazy Test View"
            restorable="true">
      </view>
      <category
            id="org.eclipse.jface.viewers.tests.performance.category"
            name="TreeViewer Performance Test">
      </category>
      <view
            category="org.eclipse.jface.viewers.tests.performance.category"
            class="org.eclipse.jface.viewers.tests.performance.views.RegularTestView"
            id="org.eclipse.jface.viewers.tests.regularView"
            name="Standard Test View"
            restorable="true">
      </view>
   </extension>

</plugin>
